:root {
    background-color: #340068; /*ecf5ff*/
    font-size: 62.5%; 
    /* 62.5% of Default font size of 16px is 10px*/
}
  
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    width: 100vw;
    max-width: 80vw;
    margin: auto;
}

h2{
    font-size: 20rem;
    margin-top: 40rem;
}

#profile-flex-color{
    background-color: whitesmoke;
}

#name{
    border-radius: 20px 20px 0 0;
}

#profile-pic{
    border-bottom-left-radius: 20px;
}

 
.greet{
    font-style: italic;
    font-family: cursive;
    font-weight: 200;
    font-size: 15rem;
    text-align: center;
}

.icon{
    border-radius: 50%;
    margin-right: 5rem;
}

.line{
    width: 80vw;
    height: 3rem;
    background-color: aliceblue;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10rem;
    width: 100vw;
    max-width: 80vw;
    margin: 0 auto;
}

#about{
    font-weight: 200;
    font-size: 15rem;
}

#desc{
    padding-top: 6rem;
}

.skills{
    width: 50%; 
    height: 95%;
    text-align: center;
    list-style-type: none;
    padding-top: 2rem;
}

.list{
    list-style: none;
}

.p-title{
    font-family: cursive;
    font-size: 10rem; 
    text-align: left; 
    margin-left: 70rem;
    margin-top: 6rem;
}

.project-desc{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    margin-left: 5rem;
}
